attr==0.3.2
Bio==1.5.9
brotli==1.1.0
brotlicffi==1.1.0.0
ConfigParser==6.0.0
cryptography==41.0.4
Cython==0.29.32
dl==0.1.0
docutils==0.20.1
equilibrator_api==0.5.0
HTMLParser==0.0.2
ipython==8.16.1
ipywidgets==8.1.1
Jinja2==3.1.2
jnius==1.1.0
keyring==24.2.0
lockfile==0.12.2
mock==5.1.0
numpy==1.26.0
pandas==2.1.1
Pillow==10.0.1
protobuf==4.24.3
pyOpenSSL==23.2.0
railroad==0.5.0
ray==2.7.0
scipy==1.11.3
simplejson==3.19.1
Sphinx==7.2.6
toml==0.10.2
tornado==6.3.3
tqdm==4.66.1
trove_classifiers==2023.9.19
truststore==0.8.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.21.0
