attr==0.3.2
Bio==1.5.9
brotli==1.1.0
brotlicffi==1.1.0.0
ConfigParser==6.0.0
cryptography==41.0.4
curio==1.6
Cython==0.29.32
dirty_equals==0.6.0
dl==0.1.0
docutils==0.20.1
email_validator==2.0.0.post2
equilibrator_api==0.5.0
HTMLParser==0.0.2
httpx==0.25.0
hypothesis==6.87.1
ipython==8.16.1
ipywidgets==8.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
jnius==1.1.0
keyring==24.2.0
lockfile==0.12.2
mock==5.1.0
multipart==0.2.4
numpy==1.26.0
orjson==3.9.7
outcome==1.2.0
pandas==2.1.1
Pillow==10.0.1
protobuf==4.24.3
pyOpenSSL==23.2.0
pytest==7.4.2
python-dotenv==1.0.0
PyYAML==6.0.1
railroad==0.5.0
ray==2.7.0
scipy==1.11.3
simplejson==3.19.1
Sphinx==7.2.6
toml==0.10.2
tornado==6.3.3
tqdm==4.66.1
trio==0.22.2
trio_typing==0.9.0
trove_classifiers==2023.9.19
truststore==0.8.0
ujson==5.8.0
urllib3_secure_extra==0.1.0
uvloop==0.17.0
xmlrpclib==1.0.1
zstandard==0.21.0
